*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html , body{
    height: 100%;
    width: 100%;
    font-size: 16px;
    background-color: black;
    color: antiquewhite;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 250%;
}